<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/account.css">
</head>

<body>

    <div class="form-model">
        <form class="login-form" method="post" action="/submitKitsu">
            <h1 class="login-title">Login with kitsu</h1>
            <p>
                <%= locals.token %>
            </p>
            <p class="login-subtitle">To use our services you need to have a kitsu account get yourself one from <a
                    href="https://kitsu.app/explore/anime">here</a></p>
            <input type="email" id="mail" name="mail" placeholder="Email">
            <input type="password" id="pswd" name="password" placeholder="Password">
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>

    <div class="blur-bg"></div>

    <div class="token-check">
        <div class="card">
            <% if (locals.token) { %>
                <div class="successful-login">
                    <h1>Login Successful!</h1>
                    <p>Click below to start having fun!</p>
                    <button id="success-ver" onclick="window.location.href='/homepage'">Click me!</button>
                </div>
                <% } else if (locals.error) { %>
                    <div class="unsuccessfull-login">
                        <h1>Login Unsuccessful!</h1>
                        <p>Uh-oh, it appears you have entered the wrong username/email or password. Please try again!
                        </p>
                        <button id="unsuccess-ver" onclick="window.location.href='/getStarted'">Click me!</button>
                    </div>
                    <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>

        var token = "<%= locals.token %>";
        var error = "<%= locals.error %>";

        if (!token && !error) {
            jQuery(".token-check").hide();
            jQuery(".blur-bg").hide();
        } 
f
    </script>
</body>

</html>