<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/account.css">
</head>

<body>
    <div class="form-model">


        <form class="login-form" method="post" action="/submitKitsu">
            <h1 class="login-title">Login with kitsu</h1>
            <p class="login-subtitle">To use our services you need to have a kitsu account get youself one from <a
                    href="https://kitsu.app/explore/anime">here</a></p>
            <input type="email" id="mail" name="mail" id="e-id" placeholder="Email">
            <input type="password" id="pswd" name="password" id="pass" placeholder="Password">
            <button class="submit-button" type="submit">submit</button>

        </form>

    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="script/index.js"></script>
</body>

</html>