<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/animePage.css">
    <title>Document</title>
</head>

<body>
    <div class="top-sn">
        <div class="coverImgDiv">
            <img class="cover-img" src="<%= locals.animeData.attributes.coverImage.large %> " alt="">

            <div class="title-wrapper">
                <p class="anime-title"> <%= locals.animeData.attributes.canonicalTitle %>  </p>
            </div>

        </div>
    </div>



    <img class="poster-img" src=" <%= locals.animeData.attributes.posterImage.small %> " alt="">

</body>

</html>