<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>

    <!-- background video -->
    <div class="background-vid">
        <video autoplay muted loop pause>
            <source src="videos/bgvideo.mp4" type="video/mp4">
        </video>
    </div>

    <div class="background-color"></div>


    <!-- main title -->
    <div class="title-page">
        <h1 class="title">
            Sakura
        </h1>


        <p class="sub-title">
            Blossom Through Every Episode.
        </p>

    </div>


    <div class="second-page">
        <h1 class="second-title">
            what is <br>sakura?
        </h1>

        <p class="second-subtitle">Track your anime journey one episdoe at a time, Sakura provides interactive anime
            tracking and bingeworthy suggestions, <br>which uses kitsu to streamline process & doesnt keep any logs.</p>

        <div class="btn">
            <button>Get Started!</button>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="script/index.js"></script>

</body>

</html>